@font-face {
  font-family: 'RuneScape';
  src: url('../assets/Fonts/runescape.ttf') format('truetype');
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  /* background: url('./public/assets/INSERT IMAGE HERE') no-repeat center center fixed; */
  background-color: #1a1a1a;
  background-size: cover;
  font-family: 'RuneScape', Arial, sans-serif;
  color: #fff;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
.container {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow-y: auto; /* Allow vertical scrolling if needed */
  border: 3px solid #af8848;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffcc00;
}
p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #cccccc;
}
.redirect-btn {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: #af8848;
}
.redirect-btn:hover {
  background-color: #d4a36e;

}
.graphic {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}
.graphic img {
  width: 100%;
  border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
      font-size: 2em;
  }
  p {
      font-size: 1em;
  }
  .redirect-btn {
      padding: 8px 16px;
      font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5em;
  }
  p {
      font-size: 0.9em;
  }
  .redirect-btn {
      padding: 6px 12px;
      font-size: 0.8em;
  }
}